TABLE{
	background: url(forumimgs/forumbg.gif);
}
P{
	color: White;
}

H3{
	color: White;
}
H4{
	color: White;
}

BODY{
	 background-color: #336600;
	 margin-top:0;
	 margin-left:0;
}
