body{
	padding: 0;
	margin: 0;
	background: #ffffff url(images/website_preview.jpg) no-repeat center top;

	width: 100%;
	display: table;
}

#content {
	width: 1003px;
	color: #ffffff;
	background: #000000;
	border: solid 0px #cccccc;

	position: relative;
    top:235px;
	margin-left:100px;
	margin-right:auto;
}

/**************************************************/
/***********           MENU          **************/
/**************************************************/

#nav {
	width: 950px;
	list-style-type:none;
	padding:0;
	position: relative;
	top: 188px;
	margin-left:100px;
	margin-right:auto;
}

#nav li {
	display:inline;
	padding:0;
	margin: 0;
	background-color:red;
}

#nav a:link,

#nav a:visited {
	color:#000;
	padding:13px 35px;
	float:left;
	width:auto;
	text-decoration:none;
}

#nav a:hover,
#nav a:focus {
	/*
	color:#fff;
	background:#000;
	*/
}

/**************************************************/
/***********         END MENU        **************/
/**************************************************/	